.App {
  text-align: center;
  font-family: Helvetica;
  font-size: 10px;
}

input {
  margin-bottom: 10px;
}

h1 {
  color: brown;
  margin-top: 10%;
  margin-bottom: 2%;
}

button {
  margin-top: 2%;
}




